.inputHint #commentLeft:before {
    content: '* ';
    color: #ff0000;
    font-size: 100%;
}

.inputHint #commentLeft{
    width:600px;
    text-align: left;
}

.inputHint #commentRight{
    width:600px;
}

#inputBox{
    width: 600px;
    height:70px;
}